IMPORTANTE
para o backend funcionar é necessário rodar o seguinte código primeiro:
pip install flask
pip install flask flask_sqlalchemy pymysql
pip install flask-cors
pip install flask-bcrypt
import axios from "axios" - não lembro o comando
pip install boto3 python-dotenv
pip install cryptography
pip install numpy
pip install opencv-python

